/* common shared style */
*{
    margin: 0px;
}
body{
    font-family: 'Lato', sans-serif;
}
h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}
.btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}
.common-h3{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.common-prgh{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* herder style */
.herder-container{
    width: auto;
    height: 700px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
}
.div-container{
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.img{
    margin-top: 50px;
}
.header-prgh{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
/* --------------section 1------------ */
.sec1-head{
    padding-top: 100px;
}
.sec1-h3{
    padding-bottom: 20px;
}
.sec1-prgh{
    padding-bottom: 50px;
}
.sec1-card{
    display: flex;
    justify-content: space-around;
    margin: 0px 100px;
    margin-bottom: 32px;
    gap: 20px;
}
.card1{
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 400px;
    height: 500px;
}
.card-img{
    margin-left: 50px;
    margin-top: 72px;
}
.card-img3{
    margin-left: 50px;
    margin-top: 28px;
}
.card2{
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 400px;
    height: 500px;
}
.card3{
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 400px;
    height: 500px;
}
li{
    text-decoration: underline;
    list-style: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
.card-title{
    display: flex;
    justify-content: space-around;
    margin: 0px 100px;
}
.section-1{
    margin-bottom: 100px;
}

/* ----------section-2----------- */
.section-2{
    background-color: rgba(229, 84, 115, 0.05);
    height: 620px;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
}
.btn-center{
    text-align: center;

}
.sec2-info{
    align-items: center;
}
.sec2-img{
    margin: 50px 0px 50px 100px;
    text-align: right;
    margin-right: auto;
}
span{
    color: #E55473;
}
/* -------------------section3----------------- */
.width-control{
    width: 35%;
    margin: 0px auto;
}
.sec3-info{
    margin-bottom: 30px;
}
.sec3-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 0px 275px;
}
.sec3-img{
    width: 300px;
    height: 340px;
}
.section3{
    margin-bottom: 80px;
}
/* ----------------------section4---------------------- */
.section4{
    margin: 0px 200px;
    height: 400px;
    background-image: url('/flowerasset/Rectangle9.png');
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}
.email-fleld{
    display: flex;
    gap: 20px;
}
.mailbox{
    width: 600px;
    height: 66px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding-left: 25px;
    border-radius: 10px;
    border: none;
}
.section4{
    margin-bottom: 100px;
}
/* ----------------------section5------------------ */

/* ------------------------footer------------------- */
footer{
    height: 449px;
    background-color: #111010;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-head{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.footere-prgh{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.footer-copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
